extends layout

block content
    li.media
        .media-left
            a(href="#")
                img.media-object(src="/images/demo.jpg")
        .media-body
            h4.media-heading #{user}
            p #{message}